.current_image {
    width: 100%;
    max-height: fit-content;
}

.login_msg {
    text-align: center;
    margin: 30px;
    background-color: lightgrey;
    padding: 15px;
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.name {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.backBtn {
    width: 30rem;
    margin: 5px;
}

.delBtn {
    width: 30rem;
    margin: 5px;
}

@media only screen and (max-width: 600px) {
    .backBtn {
        margin: auto;
        width: 100%;
    }
    .delBtn {
        margin: auto;
        width: 100%;
    }
}