.current_image {
    display: block;
    max-width:580px;
    max-height:400px;
    width: auto;
    height: auto;
    margin: auto;
    border: lightslategray 2px solid;
    box-shadow: 1px 2px 10px 1px coral ;
}

.login_msg {
    text-align: center;
    margin: 30px;
    background-color: lightgrey;
    padding: 15px;
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.name {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.backBtn {
    width: 30rem;
    margin: 5px;
}

.delBtn {
    width: 30rem;
    margin: 5px;
}

@media only screen and (max-width: 600px) {

    .current_image{
        box-shadow: none;
        border: none;
        width: auto;
        max-height: 300px;
    }
    .backBtn {
        margin: auto;
        width: 100%;
    }
    .delBtn {
        margin: auto;
        width: 100%;
    }
}