.recipe_box {
    width: 20rem;
    border: 2px solid lightgrey;
    margin-top: 2em;
    margin-bottom: 2em;
    cursor: pointer;
}
.image_box{
    height: 15rem;
}

@media only screen and (max-width: 600px) {
    .recipe_box {
        margin: auto;
        margin-bottom: 4em;
    }
}