.main_box {
    width: 100%;
    margin: auto;
}

.cat_img {
    height: 300px;
   width: 100%;
    /* max-width: 450px; */
}

.cat_name {
    background-color: lavender;
    border-radius: 30px;
    color: black;
    height: 35px;
    opacity: 0.6;
}

.current {
    display: flex;
    justify-content: center;
    cursor: pointer;
    float: none;
}

@media screen and (max-width:600px) {
    .main_box {
        width: 100%;
        margin-left:4%;
    }

.cat_img{
    height: 200px;
    width: 100%;
}


}