<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express</title>
</head>

<body>
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/users/login">login</a></li>
    <li><a href="/users/register">register</a></li>
    <li><a href="/recipes/create-recipe">create recipe</a></li>
    <li><a href="/recipes/all-recipes">All recipes</a></li>
    <li><a href="/recipes/recipe-details?id=5f7b622a18e4fe41b8b7392e">Details</a></li>
    {{!-- TODO -- TAKE CARE OF ID THING HERE --}}

    <li><a href="/users/profile">user profile</a></li>
  </ul>
  <h1>Welcome</h1>

  {{{body}}}

</body>

</html>