.profile_pic {
    width: 200px;
    text-align: center;
}

.pic_container {
    text-align: center;
}

.info_container {
    text-align: center;
    margin-top: 2rem;
}

.cont {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .profile_pic {
        float: none;
        width: 150px;
        margin-top: 1rem;
    }
    .cont {
        width: 96%;
    }
}