.input_text, .input_number {
  text-align: center;
}
.input_number {
 width:50px;
}
.input_text {
  width: 27%;
}

@media only screen and (max-width: 600px) {
  .input_text {
    background-color: lightblue;
  }
}