.input_text, .input_number, .input_file {
  text-align: center;
  font-size: x-large;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px rgb(185, 181, 180);
}

/* .input_text:focus {
 background-color: rgb(241, 241, 241);
} */

/* opacity very important xax */

.input_file {
  opacity: 0;
  position: fixed;
  z-index: -1;
}

label {
  cursor: pointer;
  width: 90%;
}

.input_number {
  width: 50px;
}

.input_text {
  width: 60%;
}

@media only screen and (max-width: 600px) {
  .input_text {
    width: 90%;
    font-size: x-large;
  }
  .input_file {
    height: fit-content;
    width: auto;
  }
}