.liked {
    font-size: 70px;
    color: rgb(255, 62, 62);
}

.not_liked {
    font-size: 70px;
    color: rgb(0, 0, 0);
}

.box {
    transition: background-color 1s;
}

.box:hover {
    background-color: rgb(240, 219, 211);
    transition: 1s;
}