/* logo image */

.logoImage {
    border-radius: 50%;
    width: 50px;
    height: auto;
}

/* logo image */

/* search icon */

.search_icon_style {
    width: 21px;
    outline: none;
}

.search_container {
    box-shadow: 1px 1px 3px 3px lightgrey;
    width: 100%;
    margin: 0 auto;
    margin-top:5px ;
    margin-left: 100px;
    border-radius: 20px;
}

.input_search {
    font-size: 18px;
    width: 50%;
    margin-left: 20%;
    border: none;
    text-align: center;
}

.search_btn {
    background-color: white;
    float: right;
    margin-right: 20px;
    border: none;
}

.search_btn:focus{
    outline: none;
}

/* nav links style */

.links {
    font-size: x-large;
    margin-right: 40px;
    color: black;
}

/* nav links style */

@media only screen and (max-width: 800px) {
    .home {
        margin: 0;
    }
    .links {
        margin: 0;
    }
    .drop {
        display: block;
    }

    .search_btn {
        background-color: white;
        border: none;
        float: right;
        margin-right: 20px;
    }

    .input_search {
        font-size: 18px;
        width: 50%;
        margin-left: 20%;
        border: none;
        text-align: center;
    }

    .search_container {
        box-shadow: 1px 1px 3px 3px lightgrey;
        width: 80%;
        margin: 0 auto;
        margin-top:5px ;
        border-radius: 20px;
    }
}