.title {
    text-align: center;
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px lightgray solid;
    box-shadow: 2px 2px 3px 1px lightgray;
    padding-bottom: 4px;
    border-radius: 30px;
    font-family: 'Indie Flower', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
}