<h1>Create Recipe</h1>

<form enctype="multipart/form-data" action="/recipes/create-recipe" method="post" >

    <br>
    recipeName
    <input type="text" name="recipeName">
    <br>
    products
    <textarea name="products"></textarea>
    <br>
    prepTime
    <input type="number" name="prepTime">
    <br>
    cookTime
    <input type="number" name="cookTime">
    <br>
    directions
    <textarea name="directions"></textarea>
    <br>
    difficulty
    <input type="number" name="difficulty">
    <br> 
      category (dropdown)
    <input type="text" name="category">
    <br> 
    image2
    <input type="file" name="image">
    <br>

    <button name="upload" type="submit">share recipe</button>
</form>