<h1>Create Recipe</h1>

<form enctype="multipart/form-data" action="/api/recipes/create-recipe" method="post">

  <br>
  recipeName
  <input type="text" name="recipeName">
  <br>
  ingredients
  <textarea name="ingredients"></textarea>
  <br>
  steps
  <input type="text" name="steps">
  <br>
  prepTime
  <input type="number" name="prepTime">
  <br>
  cookTime
  <input type="number" name="cookTime">
  <br>

  directions
  <textarea name="directions"></textarea>
  <br>
  difficulty
  <input type="number" name="difficulty">
  <br>
  category (dropdown)
  <input type="text" name="category">
  <br>
  description
  <textarea name="description"></textarea>
  <br>
  image2
  <input type="file" name="image">
  <br>

  <button name="upload" type="submit">share recipe</button>
</form>