<form enctype="multipart/form-data" action="/users/register" method="post">
    username
    <input type="text" name="username">
    <br>
    <br>
    email
    <input type="text" name="email">
    <br>
    <br>
    pass
    <input type="text" name="password">
    <br>
    <br>
    re - pass
    <input type="text" name="rePassword">
    <br>
    <br>
    skillLevel
    <input type="number" name="skillLevel">
    <br>
    <br>
    profilePic
    <input type="file" name="profilePicture">
    <br>
    <br>
    <button type="submit">register</button>

</form>