.act_box {
    width: 100%;
    float: none;
    text-align: center;
    cursor: pointer;

}

@media only screen and (max-width: 600px) {
    .act_box {
        float: none;
        width: 100%;
    }
}