.directions_head {
    background-color: lightcoral;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;

}

.directions_head:active {
    opacity: 0.4;
    color: black;
}