* {
    font-family: 'Montserrat', sans-serif;
}



tr {
    border-style: hidden;
    background-color: rgb(250, 213, 199);
    text-align: center;
    
}

td{
    border-style: hidden;
}

p{
    color: black;
}

h5{
    color:black;
}