.footer1 {
    /* border: darkgray 1px solid; */
    padding-top: 10px;
    border-radius: 40px;
    box-shadow: lightgrey 1px 2px 8px 4px;
    width: auto;
    margin: 20px;
}

.face {
    float: right;
    width: 27%;
}

.link {
    float: left;
    width: 27%;
}

@media only screen and (max-width: 670px) {
    .box {
        width: 100%;
    }
    .face {
        width: 70%;
    }
    .link {
        width: 70%;
    }
}