.footer1 {
    /* border: darkgray 1px solid; */
    padding-top: 10px;
    border-radius: 40px;
    box-shadow: lightgrey 1px 2px 8px 4px;
    width: auto;
    margin: 20px;
}

.connect{
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 40%;
    margin: auto;
    opacity: 0.8;
    padding: 6px;
    border-radius: 40px;
    box-shadow: lightgrey 1px 2px 8px 4px;
}
.face {
    width: 20%;
}

.link {
    width: 20%;
}

@media only screen and (max-width: 670px) {
    .box {
        width: 100%;
    }
    .face {
        width: 50%;
    }
    .link {
        width: 50%;
    }
}